<?xml version="1.0"?>
<robot name="my_robot">

  <!-- 其他URDF元素 -->

  <!-- 定义一个链接 -->
  <link name="map">
    <!-- 链接的几何形状 -->
    <visual>
      <geometry>
        <!-- 使用dae文件定义几何形状 -->
        <mesh filename = "file:///home/evence/ros2_ws/toe_ctrl/src/TOE-rm-radar/radar_ui/urdf/model/cube.dae" scale="0.1 0.1 0.1"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </visual>
  </link>

  <!-- 其他链接和关节定义 -->

</robot>


